@page "/"
@inject IHttpClientFactory _clientFactory
@using System.Net.Http.Json

<h1>Hello, world!</h1>

Welcome to your new app.


@if (string.IsNullOrWhiteSpace(error) == false)
{

    <div class="h2">@error</div>

}
else if (Data is null)
{

    <div class="h4">
        Loading...
    </div>

}
else
{

    <BSCard CardType="CardType.Deck">
        <BSCard>
            @foreach (string item in Data.Page.Components)
            {
                <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src=@item.image alt="256x180" />
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">@item.header</BSCard>
                    <BSCard CardType="CardType.Subtitle">@item.subtitle</BSCard>
                    <BSCard CardType="CardType.Text">@item.body</BSCard>
                    <BSButton Color="Color.Primary">primary</BSButton>
                </BSCard>
            }
        </BSCard>
    </BSCard>
}




@code {
    ideal_rotary_phone.Models.CMSModel Data;
    string error;

    protected override async Task OnInitializedAsync()
    {

        var request = new HttpRequestMessage(HttpMethod.Get, "data");


        var client = _clientFactory.CreateClient("local");

        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {

            Data = await response.Content.ReadFromJsonAsync<CMSModel>();
            error = null;

        }
        else
        {

            error = $"There was an error: {response.ReasonPhrase}";

        }


    }



}
