@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCSS



<div class="main">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
    </ul>
    <div class="content px-4">
        @Body
    </div>
    <br/>
    <footer class="footer">
        <span class=""> foot content here.</span>
    </footer>
</div>

@code{
    private bool isServerSide = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {

            await BootstrapCSS.SetBootstrapCss("4.3.1");

        }
        catch (Exception)
        {

            isServerSide = true;

        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRun)
    {
        if (isServerSide && firstRun)
        {
            await BootstrapCSS.SetBootstrapCss("4.3.1");
        }
    }
}
